{
    "swagger": "2.0",
    "info": {
        "version": "1.0",
        "title": "Common Chemistry AWS Api Gateway"
    },
    "host": "commonchemistry.cas.org",
    "basePath": "/api",
    "schemes": [
        "https"
    ],
    "paths": {
        "/detail": {
            "get": {
                "parameters": [
                    {
                        "name": "cas_rn",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "uri",
                        "in": "query",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/DetailResultModel"
                        }
                    },
                    "404": {
                        "description": "Invalid Request"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/export": {
            "get": {
                "parameters": [
                    {
                        "name": "uri",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "returnAsAttachment",
                        "in": "query",
                        "type": "boolean",
                        "default": false
                    }
                ],
                "produces": [
                    "text/plain"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "example": "Water\nH2O\n7732-18-5 Copyright (C) 2021 ACS\n  1  0  0  0  0  0  0  0  0  0999 V2000\n    0.0000    0.0000    0.0000 O   0  0  0  0  0  0  0  0  0  0  0  0\nM  END"
                        }
                    },
                    "404": {
                        "description": "Invalid Request"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/search": {
            "get": {
                "parameters": [
                    {
                        "name": "q",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/SearchResponseModel"
                        }
                    },
                    "400": {
                        "description": "Invalid Request"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        }
    },
    "definitions": {
        "SearchResponseModel": {
            "type": "object",
            "properties": {
                "count": {
                    "type": "string",
                    "example": 1
                },
                "results": {
                    "example": [
                        {
                            "rn": "50-00-0",
                            "name": "Formaldehyde",
                            "image": "<svg xmlns=\"http://www.w3.org/2000/svg\" color-interpolation=\"auto\" color-rendering=\"auto\" fill=\"black\" fill-opacity=\"1\" font-family=\"'Dialog'\" font-size=\"12\" font-style=\"normal\" font-weight=\"normal\" height=\"23.28\" image-rendering=\"auto\" shape-rendering=\"auto\" stroke=\"black\" stroke-dasharray=\"none\" stroke-dashoffset=\"0\" stroke-linecap=\"square\" stroke-linejoin=\"miter\" stroke-miterlimit=\"10\" stroke-opacity=\"1\" stroke-width=\"1\" text-rendering=\"auto\" viewBox=\"0 0 2578 776\" width=\"77.34\"> <!--Generated by the Batik Graphics2D SVG Generator--> <g> <g fill=\"white\" stroke=\"white\"> <rect height=\"776\" stroke=\"none\" width=\"2578\" x=\"0\" y=\"0\" /> </g> <g stroke-linecap=\"round\" stroke-linejoin=\"round\" stroke-width=\"44\" text-rendering=\"geometricPrecision\" transform=\"translate(32866,32758)\"> <line fill=\"none\" x1=\"-31812\" x2=\"-30763\" y1=\"-32494\" y2=\"-32494\" /> <line fill=\"none\" x1=\"-31812\" x2=\"-30763\" y1=\"-32352\" y2=\"-32352\" /> <text font-family=\"sans-serif\" font-size=\"433.3333\" stroke=\"none\" x=\"-32762\" xml:space=\"preserve\" y=\"-32242\">CH</text> <text font-family=\"sans-serif\" font-size=\"313.3333\" stroke=\"none\" x=\"-32185\" xml:space=\"preserve\" y=\"-32153\">2</text> <text font-family=\"sans-serif\" font-size=\"433.3333\" stroke=\"none\" x=\"-30729\" xml:space=\"preserve\" y=\"-32242\">O</text> </g> </g> </svg>"
                        }
                    ]
                }
            },
            "title": "SearchResponseModel"
        },
        "DetailResultModel": {
            "type": "object",
            "properties": {
                "uri": {
                    "type": "string",
                    "example": "substance/pt/50000"
                },
                "rn": {
                    "type": "string",
                    "example": "50-00-0"
                },
                "name": {
                    "type": "string",
                    "example": "Formaldehyde"
                },
                "image": {
                    "type": "string",
                    "example": "<svg xmlns=\"http://www.w3.org/2000/svg\" color-interpolation=\"auto\" color-rendering=\"auto\" fill=\"black\" fill-opacity=\"1\" font-family=\"'Dialog'\" font-size=\"12\" font-style=\"normal\" font-weight=\"normal\" height=\"23.28\" image-rendering=\"auto\" shape-rendering=\"auto\" stroke=\"black\" stroke-dasharray=\"none\" stroke-dashoffset=\"0\" stroke-linecap=\"square\" stroke-linejoin=\"miter\" stroke-miterlimit=\"10\" stroke-opacity=\"1\" stroke-width=\"1\" text-rendering=\"auto\" viewBox=\"0 0 2578 776\" width=\"77.34\"> <!--Generated by the Batik Graphics2D SVG Generator--> <g> <g fill=\"white\" stroke=\"white\"> <rect height=\"776\" stroke=\"none\" width=\"2578\" x=\"0\" y=\"0\" /> </g> <g stroke-linecap=\"round\" stroke-linejoin=\"round\" stroke-width=\"44\" text-rendering=\"geometricPrecision\" transform=\"translate(32866,32758)\"> <line fill=\"none\" x1=\"-31812\" x2=\"-30763\" y1=\"-32494\" y2=\"-32494\" /> <line fill=\"none\" x1=\"-31812\" x2=\"-30763\" y1=\"-32352\" y2=\"-32352\" /> <text font-family=\"sans-serif\" font-size=\"433.3333\" stroke=\"none\" x=\"-32762\" xml:space=\"preserve\" y=\"-32242\">CH</text> <text font-family=\"sans-serif\" font-size=\"313.3333\" stroke=\"none\" x=\"-32185\" xml:space=\"preserve\" y=\"-32153\">2</text> <text font-family=\"sans-serif\" font-size=\"433.3333\" stroke=\"none\" x=\"-30729\" xml:space=\"preserve\" y=\"-32242\">O</text> </g> </g> </svg>"
                },
                "inchi": {
                    "type": "string",
                    "example": "InChI=1S/CH2O/c1-2/h1H2"
                },
                "inchiKey": {
                    "type": "string",
                    "example": "WSFSSNUMVMOOMR-UHFFFAOYSA-N"
                },
                "smile": {
                    "type": "string",
                    "example": "C=O"
                },
                "canonicalSmile": {
                    "type": "string",
                    "example": "C=O"
                },
                "molecularFormula": {
                    "type": "string",
                    "example": "CH2O"
                },
                "molecularMass": {
                    "type": "string",
                    "example": 30.03
                },
                "experimentalProperties": {
                    "example": [
                        {
                            "name": "Boiling Point",
                            "property": "-19.5 °C",
                            "sourceNumber": 1
                        },
                        {
                            "name": "Melting Point",
                            "property": "-92 °C",
                            "sourceNumber": 1
                        },
                        {
                            "name": "Density",
                            "property": "0.8 g/cm3",
                            "sourceNumber": 1
                        }
                    ]
                },
                "propertyCitations": {
                    "example": [
                        {
                            "docUri": "",
                            "sourceNumber": 1,
                            "source": "Hazardous Substances Data Bank data were obtained from the National Library of Medicine (US)"
                        }
                    ]
                },
                "synonyms": {
                    "example": [
                        "Formaldehyde",
                        "BFV",
                        "Fannoform",
                        "Formalin",
                        "Formalith",
                        "Formic aldehyde",
                        "Formol",
                        "Fyde",
                        "Methanal",
                        "Methyl aldehyde",
                        "Methylene oxide",
                        "Oxomethane",
                        "Oxymethylene",
                        "Superlysoform",
                        "Lysoform",
                        "Morbicid",
                        "Paraform",
                        "Methaldehyde",
                        "Floguard 1015",
                        "FM 282",
                        "F-gen",
                        "Fordor",
                        "NSC 298885",
                        "Formalin LM",
                        "Optilyse",
                        "Formalin Taisei",
                        "Formaldehyde-12C",
                        "FS 850A"
                    ]
                },
                "replacedRns": {
                    "example": [
                        "8005-38-7",
                        "8006-07-3",
                        "8013-13-6",
                        "112068-71-0",
                        "1053659-79-2",
                        "1156543-56-4",
                        "1158237-02-5",
                        "1227476-28-9",
                        "1357848-44-2",
                        "1416946-65-0",
                        "1609158-91-9",
                        "2100305-91-5"
                    ]
                }
            },
            "title": "DetailResponseModel"
        }
    }
}